*{
  margin-right: 10px;
}
.container {
  width: 850px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  border-radius: 5px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 23%,
    rgba(0, 212, 255, 1) 100%
  );
}
.header{
  display: flex;
}
.content{
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 7px;
}

.image {
  width: 725px;
  border-radius: 20px;
  box-shadow: rgba(0, 212, 255, 1) 0px 0px 5px 5px;
  margin-bottom: 10px;
}
.footer{
  display: flex;
  gap: 120px;
  margin-left: 20px;
}
.actions{
  display: flex;
}
.actions img{
  cursor: pointer;
}